$color-primary: #2798ff;
$color-primary-light: #93ccff;
$color-primary-dark: #0c2e4c;

$color-white: #ffffff;
$color-white-dark: #ededed;

$color-grey: #808080;

$color-black: #101010;
$color-black-light: #282828;

$color-secondary: #213040;

$tier-color: #fff;
$accent-color: #2389e6;
$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$form-border-color: #ccc;
