.hero {
  position: relative;
  background-color: $color-white;
  color: $color-secondary;
  text-align: center;
	text-align: center;
  min-height: 100vh;
	justify-content: center;
	display: flex;
  padding: 15rem 0;

  &__content {
    position: relative;
    z-index: 1;
		align-self: center;
    max-width: 1200px;
  }

  &__title {
    @apply font-semibold text-8xl leading-tight mb-10;

    &--highlight {
      color: $color-primary;
    }
  }

  &__subtitle {
    @apply font-semibold text-2xl mx-auto mb-16;
    color: $color-grey;
    max-width: 700px;
  }

  &__image {
    @apply mt-24 w-full px-24;
  }

  &__button {
    @apply mb-24;
    background-color: $color-primary;
    color: $color-white;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }

  &__wave {
    position: absolute;
    top: -40px;
    left: 0;
    transform: rotate(180deg);
    color: $color-primary;
    width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    &__content {
      padding: 0 3rem;
    }

    &__title {
      @apply text-8xl;
    }

    &__subtitle {
      @apply font-semibold text-4xl;
    }

    &__image {
      @apply max-h-[200px];
    }
  }
}